.main-header {
    margin: 10%;
    padding: 5%;
    background-color: #EDB693;
    font-size: 200%;
    text-align: center;
    transition: transform .2s;

    animation-delay: 1s;
    animation: animate 1s;
}

.main-header:hover {
  transform: scale(0.95);

}

.back {
  background-color:bisque;
}



@keyframes unfold {
  from{
    transform: rotateX(90deg)
  }
  to {
    transform: rotateX(00deg)
  }
}


#id {
    color:white;
    box-shadow: 5px 10px 8px #888888;
}

.all {
  background-color: antiquewhite;  
  margin: 10%;
  font-family: 'Architects Daughter', cursive;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {

    box-shadow: 5px 10px 8px #888888;
    margin: 1%;
    padding-bottom: 20px;
    margin-top: 20px;

    transition: transform .2s;
    transform: rotateX(0deg);
    color: white;
    background-color: #EDB693;
    align-content: center;
    text-align: center;
    padding-top: 1%;
    font-size: 200%;

    animation: unfold 1s;
  }

.column:hover {
    transform: scale(1.1);
  }
  

  
  .column img {
    transition: transform .2s;
    padding: 20px;
    width: 85%;
    min-height: 75%;
  }

  .column img:hover {
    transform: rotate(0.01turn);
  }

.lranimation img {
  max-width: 10%;
  animation: rotation 5s infinite linear;
  padding: 5px;
}

@keyframes rotation {
  from {
    transform:translateX(-200%);
  }
  to {
    transform: translateX(1000%);
  }
}



  @media screen and (max-width: 2000px) {
    
    .column{
      max-width: 30%;
      background-color: #EDB693;


    }
  }

  @media screen and (max-width: 1600px) {
    .column{
      max-width: 45%;
      background-color: #EDB693;


    }
  }

  @media screen and (max-width: 1100px) {
    .column{
      max-width: 90%;
      background-color: #EDB693;

    }
  }

  